.product {
  display: flex;
  justify-content: center;
  &__container {
    width: 1110px;
  }
  &__bread {
    font-size: 12px;
    line-height: 16px;
    color: #6e6d74;
    margin: 25px 0px 40px 0px;
  }
  &__img {
    width: 610px;
    height: 900px;
    border-radius: 2px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    &__wrap {
      width: 350px;
    }
    &__title {
      font-family: "Merriweather";
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
      color: #32313a;

    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6e6d74;
    margin-bottom: 12px;
  }
  &__subt {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #86858b;
  }
  &__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px;
    color: #32313a;
  }
  &__selectcolor-wrap {
    display: flex;
  }
  &__subcolor {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #4a4951;
    margin-left: 6px;
  }
  &__color-wrap {
    display: flex;
    margin: 10px 0 30px 0;
  }
  &__red {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
  }
  &__violet {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(224, 54, 254);
    margin-left: 10px;
  }
	&__title {
		font-weight: 600;
		font-size: 14px;
		line-height: 16px;
		color: #32313a;
		margin-bottom: 18px;
	}
  &__add {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 40px;
  }
  &__btn {
    max-width: 300px;
    width: 100%;
    &__favorites {
      width: 36px;
      height: 36px;
      border: 0;
      border-radius: 50%;
      background: #e4e5e8;
    }
  }
}
