* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: "OpenSans";
}

@font-face {
  font-family: "OpenSans";
  src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(./fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Merriweather";
  src: url(./fonts/Merriweather-Bold.ttf);
  font-weight: 700;
}

@mixin width-contain {
	width: 1110px;
}

@mixin centr-contain {
	display: flex;
	justify-content: center;
}
